body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.menu ul,li{
margin: 0;
padding: 0;
}
.myMenu{
	position: absolute;
    border: 1px solid #ccc;
    border-bottom: none;
    width: 150px;
    list-style: none;
    display: none;
}
.menu li{
	border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.menu li:hover{
	background-color: #ccc;
}
.but{
  width: 80px;
  height: 80px;
  background-color: antiquewhite;
  margin: 8px;
  text-align: center;
  line-height: 80px;
  border:1px solid #bebebe;
}

#div1 {width:100px;height:100px;padding:10px;border:1px solid #aaaaaa; }
  #box1,#box2{width: 100px;height: 100px;padding: 10px;float: left;margin-right: 10px;border: 1px solid#ccc;}